$mainColor: #001529;
$bgLay    : #f0f2f5;

.site-layout .site-layout-background {
    background: #fff;
}

.site-main-content {
    margin    : 24px 16px;
    padding   : 36px;
    min-height: 610px !important;

    @media (max-width: 768px) {
        margin    : 0;
        padding   : 18px;
        min-height: 280px;
    }
}

.site-main-preloader {
    margin       : 20px 0;
    margin-bottom: 20px;
    padding      : 30px 50px;
    // text-align: center;
}

.form-container {
    display   : flex;
    max-width: 350px;
    flex-direction:column;
    flex-wrap : wrap;
    margin-bottom: 10px;
    // vertical-align: bottom;
    .form-item-switch{
        margin-bottom: 20px;
        font-size: 14px;
    }
}

.field-container {
    margin-right: 20px;
}

.users-mapping-items {
    max-width: 700px;
    display  : flex;
    flex-wrap: wrap;

    @media (max-width: 768px) {
        justify-content: space-evenly;
    }
}

.user-current-card {
    margin-right : 20px;
    margin-bottom: 20px;
    padding      : 12px;
    width        : 33%;
    border       : 1px solid #d9d9d9;
    min-width    : 150px;

    @media (max-width: 768px) {
        margin-right: 2px;
        padding     : 10px;

    }
}

.ant-upload-list {
    max-width: 200px;
}

.menu-container {
    padding-top: 26px !important;

    @media (max-width: 768px) {
        padding-top: 0px !important;
    }
}

.menu-navbar {
    display         : flex;
    justify-content : space-between;
    background-color: #ffffff;
    padding-left    : 1rem;
    padding-top     : 1rem;
    padding-bottom  : 1rem;

    .menu {
        color: $mainColor;
    }

    @media (min-width: 768px) {
        .menu {
            display: none;
        }
    }
}

.menu-navbar-logo {
    height     : 32px;
    margin-left: 1rem;
}

.chat-container {
    // height: 300px;
    padding      : 8px 24px;
    overflow     : auto;
    border       : 1px solid #e8e8e8;
    border-radius: 4px;
}

.card-container {
    width        : 260px;
    margin-bottom: 30px !important;
    margin-right : 20px !important;

    img {
        height     : 100px;
        width      : 100px;
        margin-top : 10px;
        margin-left: 24px;
    }
}

.card-action-button {
    width      : 88%;
    align-items: center;
}

.card-action-button-followed {
    background-color: #fff8f8 !important;
    width           : 88%;
}

.profile-image-container {
    width: auto;

    img {
        max-width    : 200px;
        margin-bottom: 10px;
    }
}

.profile-image-button {
    width: 200px !important;
}