.lds_dual {
    display: inline-block;
    width: 80px;
    height: 980px;
  }
  .lds_dual:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(255, 255, 255);
    border-color: rgb(73, 9, 9) transparent rgb(73, 9, 9) transparent;
    animation: lds_dual 1.2s linear infinite;
  }
  @keyframes lds_dual {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  