#components-layout-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}


.site-layout .site-layout-background {
  background: #fff;
}


.app-wrapper {
  display: grid;

  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows   : 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap          : 10px; */
}

.app-wrapper-content {
  grid-area       : c;
  background-color: lightsalmon;
}